name: macOS

on: push

env:
  CARGO_TERM_COLOR: always
  TAG: ${GITHUB_REF#refs/*/} # had some issue using this directly on windows

jobs:

  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install fmt and clippy
      run: |
        rustup component add rustfmt
        rustup component add clippy
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run fmt
      run: cargo fmt -- --check
    - name: Run clippy
      run: cargo clippy -- -D warnings

  deploy:
    #needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - name: Cargo build
        run: cargo build -p tmc-cli-rust --release --verbose
      - name: Sign
        run: codesign --force -s - target/release/tmc-cli-rust
      - name: Deploy
        run: gsutil cp target/release/tmc-cli-rust gs://${{ secrets.GCP_BUCKET }}/tmc-cli-rust/tmc-cli-rust-x86_64-apple-darwin-$TAG